// .container {
//     margin-top: 10rem;
//     max-width: 576px;
// }
// .btn-log {
//     width: 100%;
// }
// .title-log {
//     margin: 2rem;
// }
.login-wrapper {
    margin: 10rem auto;
    width: 30rem;
}

input {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}

.btn-reg {
    width: 100%;
}