<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Animals friendly airlines. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Just don't be late for your plane. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img src="../../../assets/img/plane-1.png" width="400" alt="plane-1">

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Just one client! <span class="text-muted">But it's worth it.</span></h2>
        <p class="lead">Best airlines possible. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../../../assets/img/plane-2.png" width="400" alt="plane-2">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ahead of time. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">We are flying faster than Superman. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img src="../../../assets/img/plane-3.png" width="400" alt="plane-3">

    </div>
</div>

<hr class="featurette-divider">