.navbar {
    padding: 1.0rem;
}

.navbar-brand {
    /* color: #0B5ED7; */
    font-size: 1.7rem;
}

.nav-item {
    /* color: #0B5ED7; */
    padding: 0 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}