<div class="container text-center">
    <h1 class="text-primary">

        <strong>Find flight deals around the world</strong></h1>


    <form>

        <div *ngIf="fromLocationTemplate">



            <label *ngIf="!flightsBook"><h3>From where:</h3></label>
            <label *ngIf="flightsBook"><h3>Change your reservation:</h3></label>

            <div class="input-group">
                <input type="text" class="form-control" name="from" [(ngModel)]="from" (keypress)="handleFromLocation()"><button class="btn btn-secondary input-group-append" (click)="handleFromLocation()" [ngStyle]="{'width': '20%'}">Search</button>
            </div>

            <small>City or Airport search E.g. London</small>

            <div class="card mb-3 mt-3" *ngFor="let Location of fromLocation" (click)="handleOrigin(Location)">
                <div class="card-header"><b>Name:</b> {{ Location.name }}</div>
                <div class="card-body">City Name: {{ Location.address.cityName }}
                    <br> Country Name: {{ Location.address.countryName }}
                </div>
                <div class="card-footer"><b>SubType:</b> {{ Location.subType }}</div>
            </div>
        </div>

        <div *ngIf="toLocationTemplate">
            <label for=""><h3>To where:</h3></label>
            <div class="input-group">
                <input type="text" class="form-control" name="to" [(ngModel)]="to" (keypress)="handleToLocation()"><button class="btn btn-secondary input-group-append" (click)="handleToLocation()" [ngStyle]="{'width': '20%'}">Search</button>
            </div>

            <small>City or Airport search E.g. New york</small>

            <div class="card mb-3 mt-3" *ngFor="let Location of toLocation" (click)="handleDestination(Location)">
                <div class="card-header"><b>Name:</b> {{ Location.name }}</div>
                <div class="card-body">City Name: {{ Location.address.cityName }}
                    <br> Country Name: {{ Location.address.countryName }}
                </div>
                <div class="card-footer"><b>SubType:</b> {{ Location.subType }}</div>
            </div>
        </div>

        <div *ngIf="numberOfAdultsTemplate">
            <label for=""><h3>Number of Adults:</h3></label>
            <input type="number" class="form-control" name="number" [(ngModel)]="number" min="1" max="1">

        </div>

        <div *ngIf="departureDateTemplate">
            <label for=""><h3>Departure Date:</h3></label>
            <input type="date" class="form-control" name="date" [(ngModel)]="date">
            <br>
            <button class="btn btn-secondary" (click)="onFindFlight()" [ngStyle]="{'width': '100%'}">Find Flights</button>

        </div>


    </form>



    <div *ngIf="flightTemplate">
        <h3>Flight Offers:</h3>


        <div class="card mb-3 mt-3" *ngFor="let flight of flights">

            <div class="card-header"><b>Price:</b> {{ flight.price.total }} ({{ flight.price.currency }})</div>
            <div class="card-body">


                Number of Seats Available: {{ flight.numberOfBookableSeats }}
                <br> Last Ticketing Date: {{ flight.lastTicketingDate }}
                <hr>
                <h5>Itineraries</h5>
                Duration: {{ flight.itineraries[0].duration }}

                <p *ngFor="let i of flight.itineraries[0].segments">
                    <strong>Departure:</strong> {{ i.departure.iataCode }} <strong>at</strong> {{ i.departure.at }}
                    <em>(Terminal: {{ i.departure.terminal }})</em> &nbsp;
                    <strong>Arrival:</strong> {{ i.arrival.iataCode }} <strong>at</strong> {{ i.arrival.at }}
                    <em>(Terminal: {{ i.arrival.terminal }})</em> &nbsp;
                    <strong>Number of stops:</strong> {{ i.numberOfStops }}
                </p>

                <hr>

                <h5>Enter your details:</h5>

                <input type="text" name="first" [(ngModel)]="first" class="form-control" [value]="firstNameToken">
                <br>
                <input type="text" name="last" placeholder="Your Last Name" [(ngModel)]="last" class="form-control">

            </div>
            <div class="card-footer"><button class="btn btn-warning" (click)="onBookFlight(flight)" [ngStyle]="{'width': '100%'}">Book Flight</button></div>

        </div>
    </div>

    <div *ngIf="booked">
        <div class="alert alert-success" role="alert">
            Successfully Booked the flight
        </div>
    </div>

    <br>
    <hr class="featurette-divider">

    <div>

        <div>
            <h3>Your Flight:</h3>
            <div *ngIf="!flightsBook">
                <p>No flights are reserved. Where do you want to go?</p>
            </div>
            <div *ngIf="flightsBook">
                <p><strong>Name:</strong> {{objBookKey.name.first}} {{objBookKey.name.last}} </p>

                <p><strong>Duration:</strong> {{objBookKey.flight.itineraries[0].duration}} </p>

                <p><strong>Arrival:</strong> Airport: {{objBookKey.flight.itineraries[0].segments[0].arrival.iataCode}} Terminal: {{objBookKey.flight.itineraries[0].segments[0].arrival.terminal}} Time: {{objBookKey.flight.itineraries[0].segments[0].arrival.at}}</p>

                <p><strong>Departure:</strong> Airport: {{objBookKey.flight.itineraries[0].segments[0].departure.iataCode}} Terminal: {{objBookKey.flight.itineraries[0].segments[0].departure.terminal}} Time: {{objBookKey.flight.itineraries[0].segments[0].departure.at}}</p>

                <p><strong>Price:</strong> {{objBookKey.flight.price.total}} {{objBookKey.flight.price.currency}}</p>

                <button class="btn btn-warning" [ngStyle]="{'width': '100%'}" (click)="cancelFlight()">Cancel Flight</button></div>
        </div>
    </div>

</div>